.folder-label {
    cursor: pointer;
    background: #28a745;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
    transition: background 0.2s ease;
}

.folder-label:hover {
    background: #218838;
}

.tabs {
    display: flex;
    margin-bottom: 10px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
}

.tab-button.active {
    background-color: #fff;
    font-weight: bold;
    border-bottom: 2px solid white;
}

.tab-content {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-content.hidden {
    display: none;
}

table {
    border-collapse: collapse;
    table-layout: auto; 
    font-size: 20px;
    margin: 1em 0;
}

th, td {
    border: 1px solid #eee;
    padding: 4px 6px;
    text-align: right;
    white-space: nowrap; 
}


tr.indent-0 td {
    background-color: #e6f7ff;
    font-weight: bold;
    border-top: 2px solid #888;
}

tr.indent-1 td:first-child {
    padding-right: 2em;
    font-weight: bold;
    background-color: #c2c2c2;
}
tr.indent-1 td {
    background-color: #c2c2c2;
    font-weight: 600;
}

tr.indent-2 td:first-child {
    max-width: 300px;        
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #444;
}

tr.indent-2 td {
    background-color: #ffffff;
}

td.muted {
    color: #999;
    font-size: 0.9em;
    padding: 0 4px;
}

td.positive {
    color: green;
}

td.negative {
    color: red;
}

dialog {
    padding: 1.5em;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 600px;
    max-width: 90%;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

#detail-modal-content ul {
    padding-left: 1.2em;
}
